/*Fonts */
@font-face {
    font-family: 'Roboto-Thin';
    src: url('../fonts/Roboto-Thin.ttf')
}

@font-face {
    font-family: 'Roboto-Light';
    src: url('../fonts/Roboto-Light.ttf')
}

/* Global */

body {
    background-color:#aebdef;
    font-family: Roboto-Light, sans-serif;
}

.container {
    width: 50%;
    margin: 0 auto;
    overflow: hidden;
    padding: 20px 20px 30px 20px;
    background-color: #eceef5;
    box-shadow: 2px 2px 4px 2px rgba(0, 0, 0, 0.2), 2px 3px 20px 2px rgba(0, 0, 0, 0.19);    
}

li {
    list-style-type: none;
}

/* Header */

#header {
    padding-top:20px;
    min-height:70px;
}

#header img {
    width: 12%;
    float: left;
    margin-left: 25px;
}

#header ul {
    margin: 0;
    padding: 0;
}

/* Name / Title */

#nameTitle h2 {
    margin:0;
    color:#88a1f3;
    font-size: 36px;
}

#nameTitle {
    float: left;
    padding: 20px 0 0 10px;
    margin: 0 auto;
    font-family: Roboto-Thin, sans-serif;
    text-transform: uppercase;

}

#nameTitle p {
    margin-top: 0px;
    font-family: Roboto-Light, sans-serif;
}

/* Social Media */

#socialMedia {
    float:right;
    padding-right: 20px;
    padding-top: 25px;
    font-size: 11px;
}

#socialMedia li {
    margin-bottom:3px;
}

#socialMedia #fb{
    background-image: url('../img/facebook.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 15px;
}

#socialMedia #linkedIn{
    background-image: url('../img/linkedin.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 12px;
}

#socialMedia a {
    text-decoration: none;
}

#socialMedia #github{
    background-image: url('../img/octicons-mark-github.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 12px;
}

/* Info Bar */

#infoBar {
    padding-top: 30px;
    position: relative;
    margin-left: -20px;
}

#infoBar li {
    float: left;
    display: inline;
    padding: 0 20px 0 20px;
    text-align: center;
    font-family: Roboto-Light, sans-serif;
    text-transform: uppercase;
    font-size: 12px;
    
}

#infoBar #address{
    background-image: url('../img/pin.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 15px;
}

#infoBar #phone{
    background-image: url('../img/phone.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 15px;
}

#infoBar #email{
    background-image: url('../img/envelope.svg');
    background-repeat: no-repeat;
    padding-left: 25px;
    padding-bottom:2px;
    background-size: 15px;
}

/* Main Body */

.mainBody {
    padding-top: 40px;
}

.mainBody h4 {
    color: #475a96;
    font-size: 16px;
    margin-left: -8px;
}

.italics {
    font-style: italic;
}

.highlight {
    color: #e2380d;
    padding-right: 10px;
}

/*MiscInfo*/

#miscInfo {
    float: left;
    width: 33.33%;
    padding-left:20px;
}

#miscInfo ul {
    list-style-position: inside;
    padding-left: 0;
}

.miscInfoItem li{
    border-left: 1px solid black;
    font-size: 13px;
    padding-left: 25px;
    margin-left: 7.5px;
    line-height:1.4;
}

#miscInfo #project {
    background-image: url('../img/projects.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom:2px;
    background-size: 20px;
}

#miscInfo #skills {
    background-image: url('../img/tools.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
}

#miscInfo #expertise {
    background-image: url('../img/settings-gears.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom:2px;
    background-size: 20px;
}

#miscInfo #education {
    background-image: url('../img/students-cap.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom:2px;
    background-size: 20px;
}

/*Main Info*/

#mainInfo {
    float: right;
    width:60%;
    padding-left: 0;
    margin-right:10px;
    font-size: 14px;
    position: relative;
}

#mainInfo ul {
    list-style: none;
    padding: 0;
    margin: 0;
    position: relative;
}

#mainInfo ul:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-left: 1px solid black;
}

#mainInfo ul li {
    margin: 15px 25px;
    padding-bottom: 5px;
}

#mainInfo ul li:before {
    content: '';
    width: 6px;
    height: 6px;
    border: 2px solid black;
    position: absolute;
    border-radius: 50%;
    left: -7px;
    margin: 4px 0 0 2.5px;
    background-color: #eceef5;
}

#mainInfo #experience{
    background-image: url('../img/beaker.svg');
    background-repeat: no-repeat;
    padding-left: 30px;
    padding-bottom:2px;
    background-size: 20px;
}

#mainInfo .subtitle {
    font-weight: bold;
    margin-bottom: -10px;
}

#mainInfo .description {
    margin-left: 10px;
}

.hobbies img {
    height: 150px;
}


.hobbies {
    color: #475a96;
    font-size: 16px;
    margin-left: -8px;
    font-weight: bold;
}

.description ul{
    list-style: none;
}